body {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    max-width: 60em;
    font-family: Arial, Verdana, sans-serif;
}
button {
    width: 100%;
    font-weight: bold;
    color: #522D80;
    background-color: white;
    padding: 12px;
    resize: vertical;
    border: thin solid grey;
    border-radius: 4px;
}

/* Forms */
form {
    text-align: left;
}
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
input[type=text], select, textarea {
    box-sizing: content-box;
    width: 95%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
input::file-selector-button, input[type=reset] {
    font-weight: bold;
    color: #522D80;
    background-color: white;
    padding: 12px;
    resize: vertical;
    border: thin solid grey;
    border-radius: 4px;
    min-width: 8em;
    margin-right: 1.5em;
}
input[type=submit] {
    font-weight: bold;
    color: white;
    background-color: #522D80;
    padding: 12px;
    resize: vertical;
    border: thin solid grey;
    border-radius: 4px;
    min-width: 8em;
    margin-right: 1em;
}
input::file-selector-button:hover, input[type=submit]:hover, input[type=reset]:hover, button:hover {
    color: #f56600;
    cursor: pointer;
}
.submit-row {
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: .5em;
}
.form-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}
/* Clear floats after the columns */
.row::after {
    content: "";
    display: table;
    clear: both;
  }

/* Top Bar Navigation */
.topnav {
    overflow: hidden;
    background-color: #522D80;
}
.topnav a, .dropbtn a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn { 
    font-size: 17px;
    text-decoration: none;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
}
.topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #222;
    color: white;
}
.topnav a.active {
    background-color: #F56600;
    color: white;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    color: #F56600;
    background-color: #f9f9f9;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/* Queue Table */
.queue_table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.queue_table td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
.queue_table th {
    border-bottom: 2px solid black;
    text-align: center;
    padding: 8px;
}
.queue_table th + th {
    border-left: 1px solid #dddddd;
}
.queue_table tr:nth-child(even) {
    background-color: #eeeeee;
}
.queue_frame {
    width: 100%;
    height: 300px;
    border: none;
    display: none;
}
